<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <header>
            <a href="/">create</a>
            <a href="/get-todos">get</a>
            <a href="/login.html">login</a>
            <a href="/signup.html">signup</a>
            <a href="/logout">logout</a>
        </header>
        
        

        <ul class="todolist">
            
            <%- str %>
                  
        </ul>
    </body>
</html>